#drawing {
    border: 10px solid #000;
    display: block;
    margin: 0 auto;
    /* background: linear-gradient(#8f94fb, #4e54c8); */
    background: linear-gradient(0.25turn, #0F2027, #203A43, #2C5364);
    }